html {
	height: 100%;
	box-sizing: border-box;
}

body {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
	position: relative;
	min-height: 95%;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

label {
	display: inline-block;
	width: 100px;
}

input {
}

button {
	margin-left: 10px;
}

h1, h2 {
	display: inline-block;
	vertical-align: middle;
	margin-top: 0px;
	margin-bottom: 10px;
}

h1 {
	font-size: 220%;
}

h2 {
	color: #AAA;
	font-size: 170%;
}

h3 {
	font-weight: normal;
	color: #AAA;
	font-size: 130%;
}

.black {
	color: black;
}

.form_field {
	margin-bottom: 5px;
}

.form_button {
	position: relative;
	right: 0;
}

#container {
	margin: 0 auto;
	max-width: 780px;
	width: 94%;
}

#body {
	padding-bottom: 80px;
}

#addProduct_div {
	display: none;
}

#productlist {
	display: none;
	margin-top: 10px;
}

#productlist td, #productlist th {
	padding-right: 25px;
}

#balance {
	color: black;
}

#status {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	font-size: 80%;
	color: rgba(0, 0, 0, 0.5);
}

#lastmessage {
	color: rgba(0, 0, 0, 1);
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu ul li {
	display: inline;
	margin-right: 10px;
	cursor: pointer;
}
